
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.html {
    background-color: red;
}

body{
    
    background-color:  gray;
    font-size: 100%;
    width: 100%;
    margin: 0 auto;
    /*border: 3px solid #931420;*/

}

a:focus, a:hover {
	font-style: italic;
}


/* the styles for the sidebar menu */



#nav_list ul li a {
    display: block;
    padding: .4em 0 .5em 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: black; 
	}

#nav_list ul li a.current {
    color: #f89d9d; }



/* the styles for the main nav menu */
.header{
	width:100%;
	background-color: #808080;
}

#nav_menu ul {
	list-style: none;
	
	margin: 0px;
	padding: 0px;
    width:100%;
    font-size: 20;

}

#nav_menu ul li {
	float: left; 
}

#nav_menu  li a {
	background-color: #808080;
	color: white;
	font-weight: bold;
	padding-top: 1.8em;
	padding-bottom: 1.4em;
	display: block; 

	text-align: center;
	text-decoration: none; 
	width:165px;	
}

#nav_menu ul li a.current {
	color: rgb(10, 8, 8);
}


#nav_menu ul ul { 
	display: none;
	position: absolute;

}

#nav_menu ul ul li {
	float: none;
}

#nav_menu ul li:hover > ul {
	display: block; 
}

#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}

.centered{
    position: absolute;
    display: inline-block;
    top:27%;
    left:30%;
    /* transform: translate (-50%, -50%); */
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 150px;
    text-transform: uppercase;
}

    section {
        width: 100%;
        padding: 0px;
    
        
    }
    
    section h2 {
        color: #e61b1b;
        font-size: 90%;
        padding-top: 4.5em;
        padding-left: 5%;
        margin: 0;
        
    } 
    
    
    section p {
        padding-left:5%;
      
    
        
    }
    section a {
        padding-left: 0%;
    }
    ul {
        padding-left: 5%;
    } 
    
    action{
        padding-left: 5%;
    }
    form{
        padding-left: 5%;
    }
    /*container*/
    table {
    margin-left: 0px;
    padding: 45px;
    }
    #img{
        position: absolute;
        right:0;
    }
    #map{
        position: absolute;
        right:0;
    }
    
    #name
    {
        text-decoration: underline;
    }
    #email
    {
        text-decoration: underline;
    }
    #website 
    {
        text-decoration: underline;
        
    }
    #phone
    {
        text-decoration: underline;
    }
    /* the styles for the footer */
    footer {
        background-color: gray;
        clear: both;
    
    }
    footer p {
        text-align: center;
        color: white;
        padding: 0.9em 0;
        
    }
    header, footer {
        padding: 0.1em;
        
        color: white;
        background-color: rgb(128,128,128);
        text-align: center;
    }
    
    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */  
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: #45a049;
    }
    
    /* Add a background color and some padding around the form */
    .container {
        border-radius: 5px;
        background-color: gray;
        padding: 20px;
    }
    
    
    
    
    
    /* gallery image */
    
    * {
        box-sizing: border-box;
      }
      
    
     
      .row {
          padding: 60px;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      .column {
        float: left;
        width: 30%;
        padding: 20px;
        padding-right: 11px;
      }
      
      /* The Modal (background) */
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
      }
      
      /* Modal Content */
      .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
      }
      
      /* The Close Button */
      .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
      }
      
      .mySlides {
        display: none;
      }
      
      .cursor {
        cursor: pointer
      }
      
      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      img {
        margin-bottom: -4px;
      }
      iframe {
        margin-bottom: -4px;
      }
      
      .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
      }
      
      .demo {
        opacity: 0.6;
      }
      
      .active,
      .demo:hover {
        opacity: 1;
      }
      
      img.hover-shadow {
        transition: 0.3s
      }
      
      .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
      }
    
    
    
    
    
    
      
    
    
     
    
    p{
    
        padding-left: 79%;
    }
    
    /* explore */
    
    
      
    
      .ex::after{
        content: "";
        clear: both;
        display: table;
      }
      .ex {
          padding: 1360px;
          margin: 0;
          padding-left: 0;
      }
      
      
      
      .expl {
        float: left;
        width: 33.33%;
        padding: 10px;
      }



      pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ex{
        float: left;
        width: 33.33%;
        padding: 10px;
      }

    
      .video {
        float: left;
        width: 60%;
      }
      .pic {
        float: right;
        padding-right: 90%;
      }

      .column1{
        float: left;
        width: 40%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row1:after {
        content: "";
        display: table;
        clear: both;
    }


    
    .lo {
      margin-left:15px;
      list-style: none;
text-decoration:none;
float: right;
display:inline-block;  
position: relative;
  }
  .lo1 {
      margin-left:70px;
      list-style: none;
text-decoration:none;
display:inline-block;  
float: right;

position: relative;
  }
 
